/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cinza claro */
    color: #333; /* Cor do texto principal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    width: 90%;
    max-width: 600px;
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333; /* Preto */
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto branco */
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* Borda arredondada */
}

button.consult-button {
    background-color: #27ae60; /* Verde */
    color: #fff; /* Texto branco */
}

button.finalize-button {
    background-color: #3498db; /* Azul */
    color: #fff; /* Texto branco */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px; /* Borda arredondada */
    overflow: hidden; /* Esconde os cantos arredondados além da borda da tabela */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Mais espaço interno */
    text-align: center;
}

th {
    background-color: #27ae60; /* Verde */
    color: #fff; /* Texto branco */
}

.total-label {
    font-weight: bold;
}

.total-amount {
    font-weight: bold;
    color: #27ae60; /* Verde */
}

.observation {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Bordas para destacar */
    border-radius: 5px; /* Borda arredondada */
}

.customer-info label {
    display: block;
    margin-bottom: 5px;
    color: #777; /* Cor do texto menos enfatizado */
}

.customer-info input, .customer-info select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordas para destacar */
    border-radius: 5px; /* Borda arredondada */
}

.additional-fields {
    display: none;
}

.send-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada */
    background-color: #3498db; /* Azul */
    color: #fff; /* Texto branco */
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .header {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
    }

    .main-content {
        padding: 10px;
    }
}

